<div>
    <p class="c-paragraph">
        Release will include
        <%= diff[:total_commits] %> commits
        <a href="<%= diff[:html_url] %>" target="_blank"><span class="c-code u-small"><%= diff[:base_commit][:sha][0,7] %>...<%= diff[:head_commit][:sha][0,7] %></span></a>
        (<%= diff[:files].size %> files changed)
    </p>
    <div class="o-form-element">
        <label for="text-title" class="c-label">Title:</label>
        <input id="text-title" class="c-field" value="<%= title %>" />
    </div>
    <div class="o-form-element">
        <label for="text-body" class="c-label">Comment:</label>
        <textarea id="text-body" class="c-field" style="height: 12rem; min-height: 12rem;"><%= body %></textarea>
    </div>
    <div class="u-centered">
        <button id="button-generate-pr" class="c-button c-button--info u-xlarge" style="margin-top: 2rem;">
            Create Pull-Request
        </button>
    </div>
</div>
